# Database Configuration
DB_HOST=postgres
DB_PORT=5432
DB_NAME=moneytalks
DB_USER=postgres
DB_PASSWORD=postgres

# Redis Configuration
REDIS_URL=redis://redis:6379/0

# API Configuration
API_PREFIX=/api/v1
BACKEND_CORS_ORIGINS=http://localhost,http://localhost:3000